# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.mo
*.db
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/
ENV/
env/
*.env

# IDE / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Migrations (optional: sometimes keep these)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
